@import url('https://fonts.googleapis.com/css?family=Quicksand:400');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

.pointer {
    cursor: pointer;
}

.align-center {
    text-align: center;
}

.hide-scroll::-webkit-scrollbar {
    width: 0 !important
}

.hide-scroll {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

.quicksand {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

.playfair {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

@media (max-width: 960px) {
    .mobile {
        display: inline
    }
    .desktop {
        display: none
    }
}

@media (min-width: 960px) {
    .mobile {
        display: none
    }
    .desktop {
        display: inline
    }
}